.sombra{
  margin: 25px 20px 25px 0px;
-webkit-box-shadow: 10px 23px 19px -4px rgba(0,0,0,0.2);
-moz-box-shadow: 10px 23px 19px -4px rgba(0,0,0,0.2);
box-shadow: 10px 23px 19px -4px rgba(0,0,0,0.2);
-moz-border-radius-topright: 62px;
-webkit-border-top-right-radius: 62px;
border-top-right-radius: 62px;
-moz-border-radius-bottomright: 58px;
-webkit-border-bottom-right-radius: 58px;
border-bottom-right-radius: 58px;
}
.sombra-img{
    margin: 0px 0px 0px 14px;
 -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.sombra-titulo{
    font-family: 'Lobster, cursive';
    text-shadow: -1px -8px 3px #aaa;
    font-size: 30px;  
    font-weight: 500;
    line-height: 1.1;
                                              
    margin: 500px 0px 0px 0px;
    color: #696969;
}
.descripcion{
    padding: 0px 10px 10px 10px;
    color: #808080;
}